.App {
  text-align: center;
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;

  --jeopardy-blue: #2411a5;
  --jeopardy-yellow: #f6be18;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */