.buzzer {
    height: 100px;
    width: 100px;
    background-color: rgb(192, 9, 9);
    border-radius: 50%;
    position: absolute;
    top: 60%;
}

.buzzer:hover {
    background-color: rgb(233, 106, 106);
}