.category-row {
    display: flex;
    flex-direction: row;
    color: white;
}

.questions {
    display: flex;
    flex-direction: row;
}
.question-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f6be18;
}