.landing-page {
    height: 100%;
    width: 100%;
    min-height: 500px;
    min-width: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-page input[type=text] {
    margin: 10px;
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0 0 4px 4px blue;
    font-size: 17px;
    border: none;
}

.landing-page input[type=text]:focus {
    outline: none;
}

.landing-page img {
    height: 200px;
    width: 800px;
    margin: 50px 50px;
}

.landing-page button {
    margin: 10px;
    padding: 17px;
    border-radius: 20px;
    font-size: 17px;
    background: #f6be18;
    color: blue;
    border: none;
}