.page {
    height: 100%;
    width: 100%;
    min-height: 500px;
    min-width: 1000px;
    background-color: var(--jeopardy-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page input[type=text] {
    padding: 17px 0px;
    border-radius: 20px;
    box-shadow: 0 0 4px 4px var(--jeopardy-blue);
    font-size: 17px;
    text-align: center;
    border: none;
}

.page input[type=text]:focus {
    outline: none;
}

.page img {
    height: 200px;
    width: 800px;
    margin: 100px 50px;
}

.page button {
    margin: 10px;
    padding: 17px 24px;
    border-radius: 20px;
    font-size: 17px;
    background: #f6be18;
    color: var(--jeopardy-blue);
    border: none;
}