.question-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    font-size: 3.5rem;
    text-shadow: 0 0;
    background-color: var(--jeopardy-blue);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer-form {
    position: absolute;
    bottom: 25%;
    width: 30%;
}
.question-card input[type=text] {
    padding: 17px 0px;
    border-radius: 20px;
    box-shadow: 0 0 4px 4px var(--jeopardy-blue);
    font-size: 17px;
    text-align: center;
    border: none;
}

.message {
    position: absolute;
    bottom: 35%;
    font-size: 50px;
    color: var(--jeopardy-yellow);
}

.question {
    margin: 10px;
    position: absolute;
    top: 30%;
    max-width: 85%;
    color: white;
}

