.waiting-page {
    height: 100%;
    width: 100%;
    min-height: 500px;
    min-width: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.waiting-page img {
    height: 200px;
    width: 800px;
    margin: 50px 50px;
}

.waiting-page button {
    margin: 50px;
    padding: 17px 24px;
    border-radius: 20px;
    font-size: 17px;
    background: #f6be18;
    color: blue;
    border: none;
}

.waiting-page h1 {
    font-size: 50px;
}

.waiting-page p {
    font-size: 22px;
}